body{
	background-color:#000;
	color:#fff;
	position:relative;
	padding-top: 70px;
	font-size: 20px;
	line-height: 1.6;	
}

p{
	font-family: 'Encode Sans Expanded', sans-serif;
}

#contact{
	color:#1EE304;
	padding-top: 20px;
}

.bg-dark{
	background-color: #000 !important;
}

#brand-color{
	color:#1EE304;
}

.nav-link:hover{
	border-bottom: 3px solid #1EE304;
}

.active{
	border-bottom: 3px solid #1EE304;
}

#section-1, #section-2, #section-3{
	padding-top: 70px;
}

.btn-custom{
	background-color: #1B9B02;
	border:none;
	color:#F7F5F5;
}

.btn-custom:hover{
	background-color: #1FB402;
}

.parallax-img{
	background-image:url('img/fullsize2.png');
    background-repeat:no-repeat;
    background-attachment:fixed;
    min-height:320px;
    margin-bottom: 50px;
}

.parallax-contact{
	background-image:url('img/fullsize2.png');
    background-repeat:no-repeat;
    background-attachment:fixed;
    min-height:420px;
    margin-bottom: 50px;
    padding-bottom: 50px;
}

.display-4{
	color:#02C207;
	font-size: 46px;
}

.display-3{
	padding-top: 50px;
}

#main-img img{
	width: 100%;
	cursor: zoom-in;
	
}

#pulse{
	background-image:url('img/pulse.png');
   background-repeat:no-repeat;
    min-height:400px;
    background-position:center;
    margin-top: 70px;
    opacity: 0.7;
     transition: all 2s ease;
}

#pulse:hover{
	opacity:1;
	transform: scale(1.05);
}

a:hover{
  color: #fff;
}

.modal #dro img{
	width:1000px;
}

.modal #cam img{
	width:600px;
}

.msg{
	height:150px;
	
}

.form-control{
	opacity:0.9;
}